@model online_Hall_Booking.Models.HallTiming

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>HallTiming</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.createdBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.createdBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.updatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.updatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hall)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hall.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.htId"  class="btn btn-primary">Edit</a> |
    <a asp-action="Index"  class="btn btn-warning">Back to List</a>
</div>
