@model online_Hall_Booking.ViewModel.ProductDetailViewModel;

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/CustomerLTE/_Layout_Customer.cshtml";

}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>eCommerce Product Detail</title>
    <link href="~/DetailSheet.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">

</head>

<body>
    <div class="container " style="margin-bottom:40px">
        <div class="card">
            <div class="container-fliud">
                <div class="wrapper row">
                    <div class="preview col-md-6">

                        <div class="preview-pic tab-content">
                            <div class="tab-pane active" id="pic-1"><img src="~/hall/cover/@Model.CoverImageUrl" /></div>
                            <div class="tab-pane" id="pic-2"><img src="~/hall/Logo/@Model.logoFile" /></div>

                        </div>
                        <ul class="preview-thumbnail nav nav-tabs">
                            <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="~/hall/cover/@Model.CoverImageUrl" /></a></li>
                            <li><a data-target="#pic-2" data-toggle="tab"><img src="~/hall/Logo/@Model.logoFile" /></a></li>

                        </ul>

                    </div>
                    <div class="details col-md-6">
                        <h3 class="product-title">@Model.hallName</h3>
                        <div class="rating">
                            <div class="stars">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <span class="review-no">41 reviews</span>
                        </div>
                        <p class="product-description">@Model.halldecription</p>
                        @*<h4 class="price">Packages </h4>
                            <p class="vote"><strong>@Model.packageName</strong> @Model.packagedecription <strong>(@Model.Packacgetype)</strong></p>
                            <p class="vote"><strong>Persons :</strong> @Model.personCount | <strong> Charges </strong><span>@Model.charges PKR</span></p>*@
                        <h4 class="price">Facilities:</h4>

                        <P class="size" data-toggle="tooltip">@Model.facilityName</P>


                        <h4 class="price">Slot Availability </h4>
                        <p class="vote"><strong>Day :</strong> @Model.day | <strong> Time</strong>(@Model.SlotTime)</p>

                        <div class="action">
                            <a asp-action="Create" class="add-to-cart btn btn-default">Request Booking</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section class="text-center">
        <h4 class="text-dark"><strong>Per Head </strong></h4>
        <hr />

        <div class="card-group  " style=" margin-left:40px; ">

            @foreach (var item in Model.perheadList)
            {
                <div class="col-4">
                    <div class="card" style="width: 20rem;">
                        <div class="card-body">
                            <h5 class="card-title"><strong> @item.Name</strong></h5>
                            <p class="card-text">@item.decription</p>
                            <strong>Per Peron : </strong>
                            <span class="price">@item.charges RS</span>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            }
        </div>


    </section>
    <section class="text-center">
        <h4><strong>Lum Sum </strong></h4>
        <hr />

        <div class="card-group  " style=" margin-left:40px; ">

            @foreach (var item in Model.Lumsumlist)
            {
                <div class="col-4">
                    <div class="card " style="max-width: 20rem;">
                        <div class="card-body">
                            <h5 class="card-title"><strong> @item.Name</strong> </h5>
                            <p class="card-text">@item.decription</p>
                            <span>Persons : @item.personCount</span>
                            <br/>
                            <span class="price">charges : @item.charges RS</span>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            }
        </div>


    </section>

    <section class="text-center">
        <h4><strong>Related Products</strong></h4>
        <hr />

        <div class="card-group  " style="margin-bottom:40px; margin-left:20px; ">


            @foreach (var item in Model.halllist)
            {
                <div class="col-4">
                    <div class="card " style="max-width: 18rem;">
                        <img class="card-img-top   " src="~/hall/cover/@item.CoverImageUrl" style="height:300px" alt="Card image cap">

                        <div class="card-body">
                            <h5 class="card-title">@item.Name</h5>
                            <p class="card-text">@item.decription</p>
                            <a asp-action="Details" asp-route-id="@item.hId" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>
            }

        </div>
    </section>

</body>




</html>